<a href="https://colab.research.google.com/github/gggggeun/study/blob/main/1.%20%EC%82%AC%EC%9D%B4%ED%82%B7%EB%9F%B0(Scikit_learn)/5.%20%EC%82%AC%EC%9D%B4%ED%82%B7%EB%9F%B0%EC%9C%BC%EB%A1%9C_Feature%20scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 사이킷런으로 Feature scaling 하기

## StandardScaler (표준화)

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
from sklearn.preprocessing import StandardScaler

# StandardScaler 객체 생성
scaler = StandardScaler()

# 데이터 세트 변환
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

# ndarray -> dataframe
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
iris_df_scaled.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

In [ ]:
a=iris_df.mean()
b=iris_df.var()
c=iris_df_scaled.mean()
d=iris_df_scaled.var()

df = pd.DataFrame({'스케일 전 평균값':a,'스케일 후 평균값':c,'스케일 전 분산값':b,'스케일 후 분산값':d})
df

                   스케일 전 평균값     스케일 후 평균값  스케일 전 분산값  스케일 후 분산값
sepal length (cm)   5.843333 -1.690315e-15   0.685694   1.006711
sepal width (cm)    3.057333 -1.842970e-15   0.189979   1.006711
petal length (cm)   3.758000 -1.698641e-15   3.116278   1.006711
petal width (cm)    1.199333 -1.409243e-15   0.581006   1.006711

## MinMaxScaler (정규화)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# 객체생성
scaler = MinMaxScaler()
# 데이터 세트 변환
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

# ndarray -> dataframe
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
iris_df_scaled.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

In [ ]:
x=iris_df_scaled.min()
y=iris_df_scaled.max()
df1 = pd.DataFrame({'스케일 후 최소값':x,'스케일 후 최대값':y})
df1

                   스케일 후 최소값  스케일 후 최대값
sepal length (cm)        0.0        1.0
sepal width (cm)         0.0        1.0
petal length (cm)        0.0        1.0
petal width (cm)         0.0        1.0